@charset "utf-8";

@import './includes/i_reset';
@import './_variables';
@import './_mixins';

html {
	font-size: 16px;
	min-height: 100vh;
}
body {
	font-size: 1em;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	color: $dark;
	background-color: $white;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
}

// Global Class should be in separate scss and be imported at top
.card {
	transition: background-color 0.3s ease-in-out;
	&:hover {
		background-color: #f9f7f7;
		img {
			border-radius: 10px;
			transform: scale(1.02);
		}
	}

	.card-title a {
		color: $dark;
		text-decoration: none;
	}
}
